.movie-image-container {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    max-width: 185px;

    .movie-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1em;
        text-align: left;

        .user-rating {
            display: flex;
            flex-direction: row;
            text-align: center;
            // justify-content: space-between;

            svg {
                margin: 0 .5em 0 0;
            }
        }
    }

}
