/node_modules
/public/img
/public/js
/public/css
/public/hot
/public/storage
/storage/*.key
/vendor
/database/data
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
credits.csv
keywords.csv
links.csv
links_small.csv
movies_metadata.csv
ratings.csv
ratings_small.csv
archive.zip
