.movie-index-content {
    margin: 1em 0;
    color: #fff;

    table {
        color: #fff;
        margin: 2em 0;
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {
    
}