*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100vw;
    font-family: $main-font;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 16px 0 0;
    text-align: center;
    color: $text-color;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $heading-font-weight;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.auth-form .card-header {
    background-color: #fff;
    border-bottom: none;
    text-align: center;
}

.card-body .form-group input {
    padding: 0;
}

.btn-primary {
    background-color: $secondary-color;
    color: $white;
    border: none;

    &:hover {
        background-color: $btn-hover-color;
    }
}


// Home

.carousel-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.carousel-item img {
    height: 50vw;
    width: 100vw;
}

.movie-image-container {
    //margin: 0 auto;
    text-align: center;
    padding: 1em;

    .movie-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1em;
        text-align: left;

        .user-rating {
            display: flex;
            flex-direction: row;
            text-align: center;
            // justify-content: space-between;

            svg {
                margin: 0 .5em 0 0;
            }
        }
    }
}

.now-playing h6 {
    font-weight: 600;
    text-align: left;
    font-size: 1.2em;
    padding: 1em;
}

.owl-carousel .owl-item img {
    width: 12em;
}

// film movie

.movie-index-content {
    margin: 1em 0;
    color: #fff;

    table {
        color: #fff;
        margin: 2em 0;
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {

}


// show movie

.movie-header {
    text-align: left;
    h2 {
        font-size: 3em;
        font-weight: 600;
    }
}

.movie-content {
    text-align: left;
}

// auth form

.login-section {
    color: $text-color;

    h5 {
        margin: 1em 0;
        color: $text-color;
    }

    text-align: left;
    margin: 1em 0;
}

.register-section {
    color: $text-color;
    text-align: center;
    padding: 0 0 2em 0;
    font-size: 1.3em;
    font-weight: 600;

    h5 {
        margin: 1em 0;
        color: $text-color;
        text-align: center;
        padding: 0 0 2em 0;
        font-size: 1.3em;
        font-weight: 600;
    }

    text-align: left;
    margin: 1em 0;
}

.auth-form {
    text-align: left;

    .register-title h5 {
        color: $text-color;
        width: 50%;
        margin: 0 auto 3em auto;
    }

    .form-group {
        margin: 1em 0;

        button {
            padding: 1em 1em;
        }

        label {
            text-align: left;
            color: $text-color;
        }
    }
}

.auth-btn {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    color: #fff;
    background-color: $btn-color;

    &:hover {
        background-color: lighten($btn-color,  20%);
    }
}
#close-btn {
    cursor: pointer;
}


