@import "~bootstrap/scss/bootstrap";

@import 'core/variables';
@import 'core/normalize';
@import 'core/mixins';

@import 'grids/main';

@import 'components/header';
@import 'components/footer';
@import 'components/sidebar';
@import 'components/search';

// Base

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100vw;
    font-family: $main-font;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 16px 0 0;
    text-align: center;
    color: $text-color;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $heading-font-weight;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}



// Home

.movie-image-container {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    max-width: 185px;

    .movie-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1em;
        text-align: left;

        .user-rating {
            display: flex;
            flex-direction: row;
            text-align: center;
            // justify-content: space-between;

            svg {
                margin: 0 .5em 0 0;
            }
        }
    }

}

// film index

.movie-index-content {
    margin: 1em 0;
    color: #fff;

    table {
        color: #fff;
        margin: 2em 0;
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {

}


// auth form

.login-section {

    h5 {
        margin: 1em 0;
    }

    text-align: left;
    margin: 1em 0;
}

.register-section {

    h5 {
        margin: 1em 0;
    }

    text-align: left;
    margin: 1em 0;
}

.auth-form {
    text-align: left;

    .form-group {
        margin: 1em 0;

        input {
            padding: 2em 1em;
        }

        button {
            padding: 1em 1em;
        }

        label {
            text-align: left;
        }
    }
}

.auth-btn {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    color: #fff;
    background-color: $btn-color;

    &:hover {
        background-color: lighten($btn-color,  20%);
    }
}
#close-btn {
   cursor: pointer;
}
